### macOS
# Finder metadata
.DS_Store

# Custom folder icons
Icon

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### VitePress
node_modules
wcssm2/docs-src/.vitepress/dist
wcssm2/docs-src/.vitepress/cache

# Generated build output — never committed, wiped and recreated on every build
wcssm2/docs/
